.latestArticles {
    background-color: var(--lightGray);
    padding: 5em 0;
    .title__h1 {
        text-align: center;
    }
    .title__h3 {
        text-align: left;
    }
    &__grid {
        display: grid;
        row-gap: 2em; /* para espaciado */
    }
    &__item {
        border: 1px solid green;
        border-radius: .5em;
        overflow: hidden; /* para que la punta de la imagen no se sobresalga */
        background-color: var(--white);
        &-content {
            padding: 1.8em;
        }
        .copy {
            color: var(--grayBlue);
        }
        small {
            color: var(--grayBlue);
            margin-bottom: 1em;
            display: block; /* para que margin le funcione */
        }
        img {
            width: 100%;
            object-fit: cover; /* esto para que no se estire la imagen */
            display: block;
        }
    }
    @media screen and(min-width: 768px) {
        &__item {
            &-content {
                padding: 1em;
            }
        }
        &__grid {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            column-gap: 30px;
        }
    }
    @media screen and(min-width: 1024px) {
        &__grid {
            grid-template-columns: repeat(4, 1fr);
        }
    }
}